doctype html
html
    head
        title Index Page
    body
        // JADE String
        h1 #{name} .. !
        h2= description
        hr
        // 여기부터 js
        - for(var i=0; i<10; i++){
            p
                a(href="https://www.e-mirim.hs.kr/main.do", 
                data-test="multiple Attribute") 
                mirim 여자 정보과학고등학교 #{i}
        - }